<nz-table [nzData]="data" [nzPageSize]="pageSize" #basicTable>
  <thead>
  <tr>
    <th>名称</th>
    <th>描述</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of dirList">
    <td>
      <a (click)="clickDir(item)">{{item}}</a>
    </td>
    <td>--</td>
    <td>
      <a>删除</a>
    </td>
  </tr>
  <tr *ngFor="let item of fileList">
    <td>
      <a (click)="clickFile(item.name, item.url)">{{ item.name }}</a>
    </td>
    <td>--</td>
    <td>
      <a>删除</a>
    </td>
  </tr>
  </tbody>
  <app-file [currentFile]="currentFile" [visible]="visible" (emitVisible)="closeVisible($event)" ></app-file>

</nz-table>
